In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-py2.py3-none-any.whl (390 kB)
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.19.6-cp36-cp36m-win_amd64.whl (897 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.19.6

In [1]:
import mysql.connector as conn
connection = conn.connect(host = 'sql8.freesqldatabase.com' , username = 'sql8715470' , password = '4nfQydCri9'
                          ,database = 'sql8715470', port = 3306)
type(connection)

mysql.connector.connection_cext.CMySQLConnection

In [5]:
cursor = connection.cursor()
cursor.execute("""select b.bookid,b.title,l.duedate ,l.returneddate ,concat(p.firstname,' ',p.lastname) full_name,p.email from Books b inner join Loans l on b.bookid = l.bookid 
inner join Patrons p on l.patronid = p.patronid
where l.duedate = '2020-07-13' """)

In [6]:
patron_contact = cursor.fetchall()
patron_contact

[(10,
  'The Count of Monte Cristo',
  '2020-07-13',
  None,
  'Kala Simonian',
  'ksimonian2q@landonhotel.com'),
 (155,
  'The Prophet',
  '2020-07-13',
  None,
  'Lydie Awmack',
  'lawmack1a@samoca.org'),
 (169,
  'Second Treatise of Government',
  '2020-07-13',
  None,
  'Anthe Dinjes',
  'adinjesh@samoca.org'),
 (73,
  'Dracula',
  '2020-07-13',
  None,
  'Cornelia Koppe',
  'ckoppe1m@landonhotel.com')]

In [7]:
with open('patron_contact.csv','w') as fd:
    fd.write("BookId,Title,DueDate,ReturnedDate,FullName,E-mail\n")
    for i in range(len(patron_contact)):
        bookid = patron_contact[i][0]
        title = patron_contact[i][1]
        duedate = patron_contact[i][2]
        returneddate = patron_contact[i][3]
        fullname = patron_contact[i][4]
        email = patron_contact[i][5]
        fd.write(f"{bookid},{title},{duedate},{returneddate},{fullname},{email}\n")

In [8]:
import pandas as pd
file = pd.read_csv('patron_contact.csv')
file

,BookId,Title,DueDate,ReturnedDate,FullName,E-mail
0,10,The Count of Monte Cristo,2020-07-13,None,Kala Simonian,ksimonian2q@landonhotel.com
1,155,The Prophet,2020-07-13,None,Lydie Awmack,lawmack1a@samoca.org
2,169,Second Treatise of Government,2020-07-13,None,Anthe Dinjes,adinjesh@samoca.org
3,73,Dracula,2020-07-13,None,Cornelia Koppe,ckoppe1m@landonhotel.com

In [28]:
connection2 = conn.connect(host = 'sql8.freesqldatabase.com' , username = 'sql8715470' , password = '4nfQydCri9'
                          ,database = 'sql8715470', port = 3306)
cursor2 = connection2.cursor()
cursor2.execute("""select l.patronid , concat(p.firstname,' ' ,p.lastname) full_name , count(l.bookid) book_count
from Loans l inner join Patrons p on l.patronid = p.patronid 
group by l.patronid order by book_count asc 
limit 10 """)

In [29]:
report = cursor2.fetchall()
report

[(83, 'Caril Matejic', 9),
 (69, 'Alaster Ruggles', 9),
 (73, 'Merle Sukbhans', 11),
 (94, 'Curr Fittall', 12),
 (64, 'Norby Sleight', 12),
 (50, 'Jack Vaan', 13),
 (7, 'Cammi Kynett', 14),
 (16, 'Carla Swinfen', 14),
 (3, 'Aleen Fasey', 14),
 (12, 'Orton Stavers', 14)]

In [32]:
with open('report.csv','w') as fd:
    fd.write('PatronID,FullName,BookCount\n')
    for i in range(len(report)):
        patronid = report[i][0]
        fullname = report[i][1]
        bookcount = report[i][2]
        fd.write(f'{patronid},{fullname},{bookcount}\n')

In [33]:
file1 = pd.read_csv('report.csv')
file1

   PatronID         FullName  BookCount
0        83    Caril Matejic          9
1        69  Alaster Ruggles          9
2        73   Merle Sukbhans         11
3        94     Curr Fittall         12
4        64    Norby Sleight         12
5        50        Jack Vaan         13
6         7     Cammi Kynett         14
7        16    Carla Swinfen         14
8         3      Aleen Fasey         14
9        12    Orton Stavers         14